In [1]:
import pandas as pd
import numpy as np

In [2]:
df = df = pd.read_csv('AviationData.csv', encoding = "ISO-8859-1")
df.head()

/var/folders/qh/ns54bt951q74xt4l68nw_m840000gn/T/ipykernel_24075/256887727.py:1: DtypeWarning: Columns (6,7,28) have mixed types. Specify dtype option on import or set low_memory=False.
  df = df = pd.read_csv('AviationData.csv', encoding = "ISO-8859-1")

,Event.Id,Investigation.Type,Accident.Number,Event.Date,Location,Country,Latitude,Longitude,Airport.Code,Airport.Name,...,Purpose.of.flight,Air.carrier,Total.Fatal.Injuries,Total.Serious.Injuries,Total.Minor.Injuries,Total.Uninjured,Weather.Condition,Broad.phase.of.flight,Report.Status,Publication.Date
0,20001218X45444,Accident,SEA87LA080,1948-10-24,"MOOSE CREEK, ID",United States,NaN,NaN,NaN,NaN,...,Personal,NaN,2.0,0.0,0.0,0.0,UNK,Cruise,Probable Cause,NaN
1,20001218X45447,Accident,LAX94LA336,1962-07-19,"BRIDGEPORT, CA",United States,NaN,NaN,NaN,NaN,...,Personal,NaN,4.0,0.0,0.0,0.0,UNK,Unknown,Probable Cause,19-09-1996
2,20061025X01555,Accident,NYC07LA005,1974-08-30,"Saltville, VA",United States,36.922223,-81.878056,NaN,NaN,...,Personal,NaN,3.0,NaN,NaN,NaN,IMC,Cruise,Probable Cause,26-02-2007
3,20001218X45448,Accident,LAX96LA321,1977-06-19,"EUREKA, CA",United States,NaN,NaN,NaN,NaN,...,Personal,NaN,2.0,0.0,0.0,0.0,IMC,Cruise,Probable Cause,12-09-2000
4,20041105X01764,Accident,CHI79FA064,1979-08-02,"Canton, OH",United States,NaN,NaN,NaN,NaN,...,Personal,NaN,1.0,2.0,NaN,0.0,VMC,Approach,Probable Cause,16-04-1980

In [3]:
df['Event.Year'] = df['Event.Date'].apply(lambda x: int(str(x)[0:4]))

In [4]:
#filter only data after 2009
df = df[df['Event.Year'] > 2009]

In [5]:
#remove amateur built planes
df = df[df['Amateur.Built'] == 'No']

In [6]:
#drop irrelevant columns
df.drop(columns=['Latitude', 'Longitude', 'Airport.Code', 'Airport.Name', 'Registration.Number', 'Amateur.Built', 'Publication.Date', 'Schedule'], inplace=True)

In [7]:
#drop duplicate Event.Ids
df.drop_duplicates(subset='Event.Id', inplace=True)

In [8]:
#impute NaN values in Aircraft Cateogry to "airplane"
df['Aircraft.Category'].fillna('Airplane', inplace=True)

In [9]:
#filter only airplanes
df = df[df['Aircraft.Category'] == 'Airplane']

In [10]:
#add total passengers column 
df['Total.Passengers'] = df['Total.Fatal.Injuries'] + df['Total.Minor.Injuries'] + df['Total.Serious.Injuries'] + df['Total.Uninjured']

In [11]:
df['Total.Passengers'].value_counts()

1.0      6516
2.0      5027
3.0      1246
0.0       911
4.0       819
         ...
149.0       1
307.0       1
312.0       1
245.0       1
201.0       1
Name: Total.Passengers, Length: 285, dtype: int64

In [12]:
#add percent fatalities column
df['Percent.Fatalities'] = df['Total.Fatal.Injuries'] / df['Total.Passengers']

In [13]:
df['Percent.Fatalities'].value_counts()

0.000000    11922
1.000000     2671
0.500000      274
0.333333       71
0.666667       45
0.750000       27
0.250000       24
0.800000       13
0.200000        9
0.142857        8
0.600000        7
0.400000        7
0.833333        4
0.714286        4
0.166667        3
0.300000        3
0.555556        3
0.285714        3
0.111111        2
0.076923        2
0.444444        2
0.125000        2
0.090909        2
0.538462        1
0.777778        1
0.023810        1
0.363636        1
0.375000        1
0.512500        1
0.021277        1
0.991150        1
0.016393        1
0.007143        1
0.571429        1
0.951807        1
0.058824        1
0.007874        1
0.687500        1
0.741379        1
0.916667        1
0.437500        1
0.428571        1
0.009772        1
0.990385        1
0.875000        1
0.692308        1
0.888889        1
0.979798        1
Name: Percent.Fatalities, dtype: int64

In [14]:
#Create a column for the percent of passengers killed or injured in accident 
df['Percent.Passengers.Harmed'] = (df['Total.Fatal.Injuries'] + df['Total.Minor.Injuries'] + df['Total.Serious.Injuries']) / df['Total.Passengers']

In [15]:
df['Percent.Passengers.Harmed'].value_counts()

0.000000    8528
1.000000    5728
0.500000     348
0.333333      81
0.666667      49
            ...
0.004386       1
0.057554       1
0.006897       1
0.022624       1
0.022346       1
Name: Percent.Passengers.Harmed, Length: 229, dtype: int64

In [16]:
#drop 'Broad.Phase.of.Flight' column as there are too many null values 
df.drop(columns=['Broad.phase.of.flight'], inplace=True)